/* ==================================================
   1. CARDS (Base & Specializations)
   ================================================== */

.card {
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid var(--border-std);
    box-shadow: var(--shadow-2);
    margin-bottom: var(--space-section);
    overflow: hidden;
    padding: var(--space-default);
}

.card-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,auto));    
    gap: var(--space-default);
}

.card-section {
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid var(--border-std);
    box-shadow: var(--shadow-2);
    overflow: hidden;
    padding: var(--space-default);
    margin-top:var(--space-section);
}

.card-demo {
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid var(--border-std);
    box-shadow: var(--shadow-2);
    margin-bottom: var(--space-section);
    overflow: hidden;
    padding: var(--space-default);
    border-top: 5px solid var(--action-main);
}



.card-patient-header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.card-patient{
    border-left: 5px solid var(--action-main);
}

.kpi-card {
    padding: var(--space-default);
}

.card-header {
    margin-bottom: var(--space-default);
    padding-bottom: var(--space-micro);
    border-bottom: 1px solid var(--g-100);
}

.card-title {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--text-main);
    letter-spacing:0.2px;
}

.card:hover,
.card-section:hover,
.card-demo:hover,
.base-status-card:hover{
transform:translateY(-2px);
box-shadow:var(--shadow-3);
}

/* ==================================================
   2. LOGS (Base & Specializations)
   ================================================== */


.log{
    padding: 12px 0;
    border-bottom: 1px solid var(--g-200);
    min-width:300px;
}

.log-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
}

.log-view{
    display: flex;
    justify-content: space-between;
}

.log-text{
    margin-top: 4px;
    color:var(--text-muted);
    font-size: var(--fs-base);
}


/* ==================================================
   3. NESTED CARDS (Base & Specializations)
   ================================================== */

.nested{
    margin-bottom:var(--space-section);
}

.nested-card {
    display: flex;
    flex-direction: column;
    gap:var(--space-default);
}

.nested-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:var(--space-default);
}

.nested-list{
    padding-left: var(--space-default);
}

.nested-meta{
    color:var(--action-main);
}

/* ==================================================
   4. KPI GRID
   ================================================== */

.kpi-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));    
    gap: var(--space-default);
}

.kpi-label {
    font-size: var(--fs-base);
    color: var(--text-side);
    margin-bottom: 4px;
}

.kpi-value {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    color: var(--text-main);
}

/* ==================================================
   5. BUTTONS
   ================================================== */

.btn {
    padding: var(--space-micro);
    border-radius: 8px;
    font-weight: var(--fw-semibold);
    cursor: pointer;
    transition: transform 0.1s ease;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn svg{
    margin-right:var(--space-micro);
    height:25px;
}

.btn-primary {
    background-color: var(--action-main);
    color: var(--white);
    box-shadow: var(--shadow-1);
    transform: translateY(-1px);
    font-size: var(--fs-base);
}

.btn-primary svg{
    fill:var(--white);
    margin-right:var(--space-micro);
    height:25px;
}

.btn-primary:hover {
    background-color: var(--action-hover);
 }

.btn-primary:active {
    transform: translateY(0); /* Returns to normal on click */
    filter: brightness(0.9);
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--border-std);
    color: var(--text-side);
    margin-bottom: var(--space-default);
}

.btn-secondary:hover { 
    background-color: var(--g-100);
    border-color: var(--g-500);
    color: var(--text-main);
}


/* ==================================================
   6. TABLES (Responsive Wrapper)
   ================================================== */

.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
}

.main-table tbody tr:hover{
background:var(--g-50);
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

.main-table th {
    background-color: var(--bg-header);
    padding: var(--space-default);
    text-align: left;
    font-size: var(--fs-sm);
    text-transform: uppercase;
    color: var(--text-muted);
}

.main-table td {
    padding: var(--space-default);
    border-bottom: 1px solid var(--g-100);
    color:var(--text-muted);    
    font-size: var(--fs-base);
}

.table-text{
    font-weight: var(--fw-medium);
    text-decoration: none;
    color: var(--action-main);
}


/* ==================================================
   7. NAVIGATION
   ================================================== */

.top-nav{
    border-radius: 0;
    background-color: var(--bg-card);
    border-radius: 12px;
    border: 1px solid var(--border-std);
    box-shadow: var(--shadow-2);
    margin-bottom: var(--space-section);
    overflow: hidden;
    padding: var(--space-default);
    position:sticky;
    top:0;
    z-index:100;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo{
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--g-950);
    display: flex;
    gap:4px;
}

.vital{
    color: var(--action-main);
}

.subtitle{
    font-weight:300;
    opacity:0.6;
}

.user-profile{
    display: flex;
    font-size:var(--fs-sm);
    font-weight:var(--fw-medium);
    color:var(--g-900);
    align-items:center;
}


.system-health{
    display:flex;
    gap:var(--space-default);
}

.health-item{
    display:flex;
    align-items:center;
    gap:var(--space-nano);
}

.status-dot{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
}

.status-online{
    background:var(--s-green);
    box-shadow:0 0 4px var(--s-100);
}

.status-offline{
    background:var(--e-red);
    box-shadow:0 0 4px var(--e-100);
}


/* ==================================================
   8. DEMO NAVIGATION
   ================================================== */

.btn-base {
    padding: var(--space-micro);
    border-radius: 8px;
    font-weight: var(--fw-semibold);
    cursor: pointer;
    transition: transform 0.1s ease;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--action-main);
}

.demoNav{
    display:flex;
    flex-direction: row;
    gap:var(--space-default);
    background: var(--g-200); 
    padding: 5px; 
    border-radius: 8px; 
    justify-self:stretch;
}

.aNav{
    text-decoration:none;
}

.desc{
    margin-top:var(--space-micro);
    font-size: var(--fs-base);
}




/* ==================================================
   9. STATUS CARDS / BORDERS
   ================================================== */

.base-status-card{
  background-color: var(--bg-card);
  border-radius: 12px;
  box-shadow: var(--shadow-2);
  margin-bottom: var(--space-section);
  overflow: hidden;
  padding: var(--space-default);
}

.card-error {
  border: 1px solid var(--border-std);
  border-top: 4px solid var(--st-error);
}  

.card-warning {
  border: 1px solid var(--border-std);
  border-top: 4px solid var(--st-warning);
}  

.card-success {
  border: 1px solid var(--border-std);
  border-top: 4px solid var(--st-success);
}  

.card-info {
  border: 1px solid var(--border-std);
  border-top: 4px solid var(--action-main);
}  

.card-disabled {
  border: 1px solid var(--border-std);
  border-top: 4px solid var(--st-disabled);
} 


/* ==================================================
   10. RESPONSIVENESS (Media Queries)
   ================================================== */

@media (max-width: 1200px) {
    .header-container{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }

    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn-base{
        text-align: center;
        padding: 8px 6px 8px 6px;
    }

    .btn{
        text-align: center;
        padding: 8px 6px 8px 6px;
    }

    .btn svg{
        margin-right:0;
        height:24px;
        width:24px;
    }

    .btn-primary svg{
        fill:var(--white);
        margin-right:0;
        height:24px;
        width:24px;
    }

    .demoNav{
        align-items: start;
    }

    .card-grid{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .base-status-card{
        margin-bottom: var(--space-micro);
    }

    .card {
        margin-bottom: var(--space-micro);
    }

    h2 {
    margin-bottom:var(--space-micro);
    }

}


@media (max-width: 992px) {
    main {  
        margin: 0px 18px 0px 18px;
    }
    .kpi-grid {
        gap: var(--space-micro);
    }

    .kpi-value {
        font-size: var(--fs-lg);
    }

    .main-table td {
        font-size: var(--fs-sm);
    }

    .kpi-label {
        font-size: var(--fs-sm);
    }

    .log-text{
    font-size: var(--fs-sm);
    }
}


@media (max-width: 768px) {
    main {  
        margin: 0px 0px 0px 0px;
    }

    h2{
        font-size: 18px;
    }

    .desc{
        margin-top:var(--space-micro);
        font-size: var(--fs-sm);
    }

    .kpi-value {
        font-size: var(--fs-md);
    }

    .demoNav{
        gap:0;
    }

    .top-nav{
    padding: var(--space-nano);
    }

    .btn-base{
        font-size: var(--fs-sm);
        height:100%;
    }

    .btn-primary {
        font-size: var(--fs-sm);
        height:100%;
    }

    .logo{
        font-size: var(--fs-md);
        font-weight: var(--fw-semibold);
    }

    .header-container{
        align-items:start;
    }

    .user-profile{
        display: flex;
        flex-direction: column;
        align-items:start;
    }

    .med-hidden{
        display:none;
    }

    .system-health{
        align-items:start;
    }
}

@media (max-width: 520px) {
    .pill{
    font-size: var(--fs-xs);
    }

    .system-health{
        flex-wrap:wrap;
        gap:var(--space-nano);
    }

    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn-base{
        font-size: var(--fs-xs);
        height:100%;
    }

    .btn{
        text-align: center;
        padding: 8px 6px 8px 6px;
    }

    .btn svg{
        margin-right:0;
        height:20px;
    }

    .btn-primary {
        font-size: var(--fs-xs);
        height:100%;
    }

    .btn-primary svg{
        fill:var(--white);
        margin-right:0;
        height:20px;
    }

    .demoNav{
        gap:0;
        overflow-x: scroll;
    }

    .mobile-hidden{
        display:none;
    }

    .card-section {
        margin-top:var(--space-default);
    }
}

@media (max-width: 410px) {
    .logo{
        display: flex;
        flex-direction: column;
        gap:0px;
    }

    .hidden-small{
        display: none;
    }

    h2{
        font-size: var(--fs-base);
    }

    h3{
        font-size: var(--fs-base);
    }

    .card-title{
        font-size: var(--fs-base);
    }

    .kpi-value {
        font-size: var(--fs-base);
    }
}